.time-input {
    background-image: url(../images/icon-time.png);
    background-repeat: no-repeat;
    background-position: calc(100% - .25em) center;
    padding-right: 1.5em !important;
}

.time-picker {
    $highlightColor: #000000;
    $highlightColorSVG: '%23000000';
    $midlightColor: #ddd;
    $lowlightColor: #eee;
    $lowlightTextColor: #999;

    overflow: auto;
    position: relative;
    width: 200px;
    z-index: 1;

    .time-value {
        background-color: $lowlightColor;
        display: table;
        margin-bottom: .5em;

        div {
            color: $lowlightTextColor;
            cursor: pointer;
            display: table-cell;
            font-size: 4em;
            font-weight: bold;
            text-align: center;
            width: 50%;

            -webkit-transition: all 500ms ease;
            -moz-transition: all 500ms ease;
            transition: all 500ms ease;

            &:nth-child(2) {
                cursor: auto;
                width: 1px;
            }

            &.selected {
                color: $highlightColor;
            }
        }
    }

    .time-clock {
        background-color: $lowlightColor;
        border-radius: 50%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: relative;

        height: 200px;
        width: 200px;

        .clock-hours,
        .clock-minutes {
            pointer-events: none;
            visibility: hidden;

            opacity: 0;
            -webkit-transition: all 500ms ease;
            -moz-transition: all 500ms ease;
            transition: all 500ms ease;

            -webkit-transform-origin: 100px 100px;
            -moz-transform-origin: 100px 100px;
            transform-origin: 100px 100px;
            
            -webkit-transform: scale(.5) translateY(100px);
            -moz-transform: scale(.5) translateY(100px);
            transform: scale(.5) translateY(100px);

            .hand {
                cursor: pointer;
                line-height: 2em;
                position: absolute;
                top: calc(50% - 1em);
                height: 2em;
                width: 100px;

                .number {
                    background-color: $lowlightColor;
                    border-radius: 1em;
                    text-align: center;

                    height: 2em;
                    width: 2em;
                }

                &:hover .number {
                    background-color: $midlightColor;
                }

                &.selected {
                    &:before {
                        background-color: $highlightColor;
                        content: '';
                        display: block;

                        position: absolute;
                        top: calc(50% - 1px);
                        top: -moz-calc(50% - 1px);
                        height: 2px;
                        width: 100%;
                    }

                    .number {
                        background-color: $highlightColor;
                        color: #fff;
                    }
                }

                @for $i from 1 through 12 {
                    &:nth-child(#{$i}) {
                        -webkit-transform-origin: 100% 50%;
                        -moz-transform-origin: 100% 50%;
                        transform-origin: 100% 50%;

                        -webkit-transform: rotate(#{($i - 1) * 30}deg);
                        -moz-transform: rotate(#{($i - 1) * 30}deg);
                        transform: rotate(#{($i - 1) * 30}deg);

                        .number {
                            -webkit-transform: rotate(-#{($i - 1) * 30}deg);
                            -moz-transform: rotate(-#{($i - 1) * 30}deg);
                            transform: rotate(-#{($i - 1) * 30}deg);
                        }
                    }
                }
            }

            &.selected {
                pointer-events: auto;
                visibility: visible;
                opacity: 1;

                -webkit-transform: scale(1) translateY(100px);
                -moz-transform: scale(1) translateY(100px);
                transform: scale(1) translateY(100px);
            }
        }
    }

    .time-period {
        margin: .5em 0 1em 0;
        overflow: auto;
        position: relative;

        .period {
            cursor: pointer;
            float: left;
            height: 2em;
            line-height: 2em;
            margin: 0;
            overflow: auto;
            padding: 0;
            position: relative;
            text-align: center;
            width: 50%;

            .circle {
                background-color: $midlightColor;
                border-radius: 1em;

                position: absolute;
                left: 1em;
                height: 2em;
                width: 2em;

                -webkit-transition: all 500ms ease;
                -moz-transition: all 500ms ease;
                transition: all 500ms ease;
            }

            &:nth-child(2) .circle {
                left: auto;
                right: 1em;
            }

            &.selected .circle {
                background-color: $highlightColor;
                color: #fff;
            }
        }
    }

    .button-bar {
        border-top: 1px solid gray;
        margin-top: .5em;
        padding-top: .5em;
        text-align:  right;

        input[type=button] {
            background: transparent;
            border: none;
            text-decoration: underline;
        }
    }
}