<div class="time-picker">
	<div class="time-value">
		<div class="hour" ng-click="controlHandler('hours', $event)">12</div>
		<div>:</div>
		<div class="minutes" ng-click="controlHandler('minutes', $event)">00</div>
	</div>
	<div class="time-clock">
		<div class="clock-hours">
			<div class="hand" id="hour-hand-9" ng-click="hourHandHandler(9, $event)"><div class="number">9</div></div>
			<div class="hand" id="hour-hand-10" ng-click="hourHandHandler(10, $event)"><div class="number">10</div></div>
			<div class="hand" id="hour-hand-11" ng-click="hourHandHandler(11, $event)"><div class="number">11</div></div>
			<div class="hand" id="hour-hand-12" ng-click="hourHandHandler(12, $event)"><div class="number">12</div></div>
			<div class="hand" id="hour-hand-1" ng-click="hourHandHandler(1, $event)"><div class="number">1</div></div>
			<div class="hand" id="hour-hand-2" ng-click="hourHandHandler(2, $event)"><div class="number">2</div></div>
			<div class="hand" id="hour-hand-3" ng-click="hourHandHandler(3, $event)"><div class="number">3</div></div>
			<div class="hand" id="hour-hand-4" ng-click="hourHandHandler(4, $event)"><div class="number">4</div></div>
			<div class="hand" id="hour-hand-5" ng-click="hourHandHandler(5, $event)"><div class="number">5</div></div>
			<div class="hand" id="hour-hand-6" ng-click="hourHandHandler(6, $event)"><div class="number">6</div></div>
			<div class="hand" id="hour-hand-7" ng-click="hourHandHandler(7, $event)"><div class="number">7</div></div>
			<div class="hand" id="hour-hand-8" ng-click="hourHandHandler(8, $event)"><div class="number">8</div></div>
		</div>
		<div class="clock-minutes">
			<div class="hand" id="minute-hand-45" ng-click="minuteHandHandler(45, $event)"><div class="number">45</div></div>
			<div class="hand" id="minute-hand-50" ng-click="minuteHandHandler(50, $event)"><div class="number">50</div></div>
			<div class="hand" id="minute-hand-55" ng-click="minuteHandHandler(55, $event)"><div class="number">55</div></div>
			<div class="hand" id="minute-hand-0" ng-click="minuteHandHandler(0, $event)"><div class="number">0</div></div>
			<div class="hand" id="minute-hand-5" ng-click="minuteHandHandler(5, $event)"><div class="number">5</div></div>
			<div class="hand" id="minute-hand-10" ng-click="minuteHandHandler(10, $event)"><div class="number">10</div></div>
			<div class="hand" id="minute-hand-15" ng-click="minuteHandHandler(15, $event)"><div class="number">15</div></div>
			<div class="hand" id="minute-hand-20" ng-click="minuteHandHandler(20, $event)"><div class="number">20</div></div>
			<div class="hand" id="minute-hand-25" ng-click="minuteHandHandler(25, $event)"><div class="number">25</div></div>
			<div class="hand" id="minute-hand-30" ng-click="minuteHandHandler(30, $event)"><div class="number">30</div></div>
			<div class="hand" id="minute-hand-35" ng-click="minuteHandHandler(35, $event)"><div class="number">35</div></div>
			<div class="hand" id="minute-hand-40" ng-click="minuteHandHandler(40, $event)"><div class="number">40</div></div>
		</div>
	</div>
	<div class="time-period">
		<div class="period" ng-click="periodHandler('am', $event)"><div class="circle">am</div></div>
		<div class="period" ng-click="periodHandler('pm', $event)"><div class="circle">pm</div></div>
	</div>
	<form ng-submit="setTime($event)">
		<input type="hidden" value="12:00am" id="hdTime"/>
		<div class="button-bar">
			<input type="button" value="Close" ng-click="closeTimePicker($event)"/>
			<input type="submit" value="Set Time"/>
		</div>
	</form>
</div>